@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Quicksand:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

header {
    background-color: #EAD2AC;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 60px;
    letter-spacing: 3px;
}

header h1 {
    font-size: x-large;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    font-size: 14px;
    margin: 15px;
    text-decoration: none;
    color: black;
}

nav a:hover {
    background-color: rgb(38, 18, 0);
    padding: 5px 20px;
    color: beige;
    border-radius: 50px;
}

body {
    font-family: 'Poppins', 'Quicksand', 'sans-serif';
    color: rgb(38, 18, 0);
    margin: 0;
    padding: 0;
}

.aboutMe {
    width: 95%;
    margin: 100px auto;
    padding: 2% 0 5% 0;
    border: 1px solid rgb(202, 169, 139);
    background-color: #EAD2AC;
}

.aboutMe h2 {
    text-align: center;
    letter-spacing: 3px;
}

.aboutMe p {
    max-width: 65%;
    font-size: medium;
    text-align: justify;
    margin: 0 auto;
}

.allCard {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    width: 95%;
}

.card {
    margin: 0 auto;
    padding: 0 auto;
    font-size: medium;
    border-radius: 5px;
    box-shadow: 0px 10px 4px 0px #D3CDCD;
    background-color: #F0D1A2;
    border: 1px solid rgb(202, 169, 139);
    height: auto;
    width: 350px;
}

.card h3 {
    font-size: medium;
    text-align: center;
}

.card li {
    text-align: left;
    box-sizing: border-box;
}

.album {
    border-radius: 5px;
    box-shadow: 0px 10px 4px 0px #D3CDCD;
    background-color: #F0D1A2;
    margin: 100px auto;
    text-align: center;
    border: 1px solid rgb(202, 169, 139);
    max-width: 95%;
}

.album h2 {
    padding: 10px;
    letter-spacing: 3px;
}

.picture img {
    height: 250px;
    margin: 0 5% 7%;
    box-shadow: 8px 10px 4px 0px #696565;
    background-color: beige;
}

.picture img:hover {
    height: 350px;
    margin: 0 5% 7%;
    box-shadow: 8px 10px 4px 0px #696565;
}

.contactimage {
    position: relative;
    text-align: center;
}

.contactimage img{
    max-width: 100%;
}

.cp {
    position: absolute;
    background-color: white;
    width: 35%;
    top: 20%;
    bottom: 40%;
    left: 12%;
    padding: 4%;
    overflow-wrap: break-word;
    max-height: fit-content;
}

.cp h3 {
    letter-spacing: 3px;
}

.cp p {
    font-size: large;
}

.cp p a{
    margin: 0;
    text-decoration: none;
    color: rgb(38, 18, 0);
}

.myprofile {
    background-color: #EAD2AC;
    border-radius: 10px;
    margin: 50px auto;
    max-width: 50%;
    max-height: max-content;
    text-align: center;
    padding: 4% 0;
}

figure {
    margin: 0 auto;
}

figure img {
    max-width: 50%;
}

.myprofile p {
    margin: 5% 0 0;
    font-size: larger;
}

footer {
    color: rgb(38, 18, 0);
    background-color: #EAD2AC;
    text-align: center;
    font-size: large;
    margin-top: 50px;
    line-height: 50px;
}

